<body>
    <!-- main navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="Assets\images\logo.gif" width="10%"> Your Opinion Matters!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-10 mb-lg-0">
            
            <li class="nav-item">
            <% if (title == "Home") { %>
              <a class="nav-link active" href="/home"><i class="fas  fa-house-damage"></i> Home</a>
            <% } else { %>
              <a class="nav-link" href="/home"><i class="fas  fa-house-damage"></i> Home</a>
            <% } %>
            </li>
  
            <li class="nav-item">
            <% if (title == "CreateSurvey") { %>
              <a class="nav-link active" href="/template"><i class="fas  fa-user-secret"></i> Create Survey</a>
            <% } else { %>
              <a class="nav-link" href="/template"><i class="fas  fa-user-secret"></i> Create Survey</a>
            <% } %>
            </li>
  
            <li class="nav-item">
            <% if (title == "Respond to Survey") { %>
              <a class="nav-link active" href="/projects"><i class="fas  fa-project-diagram"></i> Respond to Survey</a>
            <% } else { %>
              <a class="nav-link" href="/projects"><i class="fas  fa-project-diagram"></i> Respond to Survey</a>
            <% } %>
              
            </li>

          </div>
      </div>
    </nav>